<h3><%= @workout.name %></h3>
<h5>City: <%= @workout.location %></h5>
<h5>Workout: <%= @workout.description %></h5>
<h6>Reps: <%= @workout.reps %></h6>
<h6>Duration: <%= @workout.duration %></h6>
<h6><%= image_tag(@workout.image, height: "300px", width: "300px") %></h6>
<h6><span><%= link_to "Edit", edit_workout_path(@workout) %> </span></h5>
<h5><span><%= link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Are you sure?"} %></span></h5>

