<%= form_for @workout do |f| %>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {:class => "form-control"} %>
    </div>
    <div class ="form_group">
    <%= f.label :location %>
    <%= f.text_field :location, {:class => "form-control"} %>
    </div>
    <div class="form_group">
    <%= f.label :description %>
    <%= f.text_field :description, {:class => "form-control"} %>
    </div>
    <div class="form_group">
    <%= f.label :reps %>
    <%= f.number_field :reps, {:class => "form-control"} %>
    </div>
    <div class="form_group">
    <%= f.label :duration %>
    <%= f.text_field :duration, {:class => "form-control"} %>
    </div>
    <div class="form_group">
    <%= f.label :image %>
    <%= f.text_field :image, {:class => "form-control"} %>
    </div>
    <%= f.submit :Submit, class: "btn btn-primary" %>

<% end %>